body {
  width: auto;
  height: auto;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10rem;
}

.topLeft {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.topMid img {
  width: 10rem;
  height: 10rem;
  padding-left: 20%;
}

.topRight {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
}

.firstSec {
  width: auto;
  font-weight: bold;
  color: white;
  font-size: 1.3rem;
  height: 25rem;
  padding-top: 5%;
  text-align: center;
  background-image: url(https://www.thedeliciousbites.com/uploads/b/3a1e53f661e373753ade8f6c6102e28221ecc789a1ad45aa0194b165b6e3fc5f/IMG_3028_1679595277.JPG?width=1600&optimize=medium&height=480&fit=cover&dpr=1.25);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.firstSec span {
  font-size: 1rem;
}

.secondSecH2 {
  text-align: center;
}

.secondSec {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  gap: 2%;
  height: 52rem;
}

.photo1 img {
  width: 20rem;
  height: 20rem;
}
.photo2 img {
  width: 20rem;
  height: 20rem;
}

.photo3 img {
  width: 20rem;
  height: 20rem;
}

.photo4 img {
  width: 20rem;
  height: 20rem;
}

.photo5 img {
  width: 20rem;
  height: 20rem;
}

.thirdSec {
  height: 15rem;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 2%;
}

.thirdSec span {
  font-size: 1.5rem;
  text-align: center;
}

.thirdSec b p {
  font-size: 1rem;
  text-align: center;
}

.thirdSecPlus {
  height: 10rem;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 2%;
}

.thirdSecPlus span {
  font-size: 1.5rem;
  text-align: center;
}

.thirdSecPlus b p {
  font-size: 1rem;
  text-align: center;
}
.fourthSec {
  height: 15rem;
  background-color: rgb(224, 221, 221);
}
.fourthSec h2 {
  padding-top: 2%;
  padding-left: 10%;
  margin-top: 0;
  margin-bottom: 0.8%;
  border-color: rgb(200, 182, 182);
}
.fourthSec legend {
  padding-left: 10%;
  padding-bottom: 1%;
}
.radio {
  display: flex;
  justify-content: start;
  gap: 1%;
  padding-left: 10%;
}

.radio__input {
  display: none;
}

.radio__label {
  padding: 1% 1.5%;
  background-color: transparent;
  border-radius: 7%;
  border: 0.05rem solid;
  border-color: rgb(200, 182, 182);
}

.fourthSec button {
  background-color: black;
  color: white;
  font-size: 1rem;
  margin-top: 1%;
  margin-left: 10%;
  padding: 2% 3%;
}

.fifthSec {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  height: 25rem;
}
.part1 {
  padding-left: 10%;
}

.part1 h3 {
  font-size: 1.8rem;
}
.part1 p {
  font-size: 1.1rem;
}

.part2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 1%;
}

.part2-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6%;
  align-items: start;
  height: 100%;
  padding-right: 55%;
}

#name {
  width: 27rem;
  height: 2rem;
  cursor: pointer;
}

#email {
  width: 27rem;
  height: 2rem;
  cursor: pointer;
  border: 0.05rem solid;
  border-color: rgb(200, 182, 182);
  border-radius: 0.25rem;
  padding: 2%;
}

#message {
  width: 27rem;
  height: 4rem;
}

.part2 input[type="text"] {
  border: 0.05rem solid;
  border-color: rgb(200, 182, 182);
  width: 27rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 2%;
}
#captcha {
  color: rgb(200, 182, 182);
  font-size: 0.6rem;
  width: 95%;
  margin-top: 0;
  margin-right: 0;
}

.part2 button {
  background-color: rgb(121, 121, 121);
  color: white;
  padding: 0.5rem 1rem;
}

footer {
  background-color: #dcdcdc;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15%;
  gap: 10%;
}
footer div {
  width: calc(100% / 3);
  height: fit-content;
}

.fot1 img {
  height: 30%;
  width: 35%;
  object-fit: contain;
}

.fot2 {
  font-size: 1.4rem;
}

.fa {
  padding: 0.5rem;
  font-size: 1.4rem;
  width: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: black;
  color: white;
}
